.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-header1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-branding1 {
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-text10 {
  color: rgb(39, 39, 45);
  font-size: 30px;
  font-family: "Inter";
}
.home-desktop-menu {
  display: flex;
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-work-with-us1 {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.home-work-with-us1:hover {
  opacity: 0.5;
}
.home-text11 {
  display: flex;
  font-size: 24px;
}
.home-image10 {
  width: 100px;
  display: none;
  object-fit: cover;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-branding2 {
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  border-color: #61616B;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-text12 {
  color: #27272D;
  font-size: 30px;
  font-family: Inter;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-middle {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-work-with-us2 {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.home-work-with-us2:hover {
  opacity: 0.5;
}
.home-text13 {
  display: flex;
  font-size: 24px;
}
.home-hero {
  gap: 120px;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 140px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 160px;
}
.home-header2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text14 {
  color: rgb(39, 39, 45);
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
}
.home-image11 {
  width: 24px;
  height: 40px;
  display: flex;
  object-fit: cover;
}
.home-hero-image {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 180px;
  padding-right: 180px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: #E5FE58;
}
.home-image12 {
  width: 640px;
  height: 540px;
  object-fit: cover;
}
.home-who {
  gap: 120px;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 320px;
}
.home-header3 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 170px;
  padding-right: 170px;
  flex-direction: column;
}
.home-heading1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  flex-direction: column;
}
.home-text15 {
  height: 181px;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
}
.home-text16 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 24px;
  max-width: 800px;
  line-height: 43px;
}
.home-preview {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: 170px;
  padding-right: 170px;
  flex-direction: row;
}
.home-image13 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 527px;
  align-items: flex-start;
  flex-direction: column;
  background-color: #E5FE58;
}
.home-image14 {
  object-fit: cover;
  margin-left: -160px;
}
.home-video {
  top: 0px;
  right: 0px;
  width: 646px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-information {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 120px;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: 170px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 140px;
  border-top-width: 1px;
}
.home-purpose {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-description1 {
  color: rgb(39, 39, 45);
  font-size: 30px;
  line-height: 54px;
}
.home-industries {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-list {
  width: 100%;
  display: grid;
  grid-gap: 80px;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: auto auto auto;
}
.home-accordion {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title1 {
  color: rgb(39, 39, 45);
  font-size: 54px;
}
.home-text39 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text40 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text41 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text42 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text43 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title2 {
  color: rgb(39, 39, 45);
  font-size: 54px;
}
.home-text44 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text45 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text46 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text47 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text48 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title3 {
  color: rgb(39, 39, 45);
  font-size: 54px;
}
.home-item3 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title4 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 54px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text49 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text50 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text51 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text52 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text53 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item4 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title5 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 54px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text54 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text55 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text56 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text57 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text58 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item5 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text59 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text60 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text61 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text62 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text63 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item6 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger6 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text64 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text65 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text66 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text67 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text68 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item7 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger7 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text69 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text70 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text71 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text72 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text73 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-container3 {
  display: contents;
}
.home-section1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 135px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 135px;
  background-color: #27272D;
}
.home-case-studies {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: 130px;
  border-bottom-width: 1px;
}
.home-caption1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.home-text74 {
  color: #ffffff;
  letter-spacing: 5%;
  text-transform: uppercase;
}
.home-date-range {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-text75 {
  color: rgb(255, 255, 255);
}
.home-text76 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 300;
}
.home-text77 {
  color: rgb(255, 255, 255);
}
.home-gallery1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-row1 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-case1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: column;
}
.home-image15 {
  width: 560px;
  height: 416px;
  object-fit: cover;
}
.home-heading3 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-case2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image16 {
  width: 640px;
  height: 545px;
  object-fit: cover;
}
.home-heading4 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-row2 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-case3 {
  gap: var(--dl-space-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-row3 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-case4 {
  gap: var(--dl-space-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-case5 {
  gap: var(--dl-space-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-book {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #E5FE58;
}
.home-content2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-left {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 810px;
  align-items: flex-start;
  flex-direction: column;
}
.home-text78 {
  font-size: 54px;
  font-weight: initial;
  line-height: 65px;
}
.home-button {
  color: rgb(255, 255, 255);
  font-size: 24px;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: lowercase;
  background-color: rgb(0, 0, 0);
}
.home-image17 {
  height: 400px;
  object-fit: cover;
}
.home-section2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #244444;
}
.home-about-us {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.home-header4 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: column;
}
.home-caption2 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.home-description2 {
  color: rgb(255, 255, 255);
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
}
.home-gallery2 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  padding-bottom: 120px;
}
.home-image18 {
  width: 640px;
  z-index: 10;
  object-fit: cover;
}
.home-image19 {
  top: 370px;
  right: 0px;
  width: 760px;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-socials {
  gap: var(--dl-space-space-twounits);
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
@media(max-width: 991px) {
  .home-navbar-interactive {
    gap: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .home-text11 {
    line-height: 30px;
  }
  .home-text13 {
    line-height: 30px;
  }
  .home-hero {
    gap: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text14 {
    font-size: 32px;
  }
  .home-image11 {
    display: none;
  }
  .home-hero-image {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-who {
    gap: var(--dl-space-space-fourunits);
    margin-bottom: 750px;
    padding-bottom: 0px;
  }
  .home-header3 {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading1 {
    gap: var(--dl-space-space-unit);
  }
  .home-text15 {
    font-size: 32px;
  }
  .home-text16 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text17 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-text18 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-preview {
    align-items: flex-end;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-image13 {
    width: 80%;
    height: 100%;
  }
  .home-image14 {
    width: 100%;
  }
  .home-video {
    top: auto;
    left: 24px;
    right: auto;
    bottom: -729px;
  }
  .home-information {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
    border-top-width: 0px;
  }
  .home-purpose {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-description1 {
    font-size: 16px;
    line-height: 28px;
  }
  .home-list {
    grid-gap: 16px;
    grid-template-columns: auto;
  }
  .home-accordion {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title1 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text39 {
    font-size: 16px;
  }
  .home-text40 {
    font-size: 16px;
  }
  .home-text41 {
    font-size: 16px;
  }
  .home-text42 {
    font-size: 16px;
  }
  .home-text43 {
    font-size: 16px;
  }
  .home-item1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title2 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text44 {
    font-size: 16px;
  }
  .home-text45 {
    font-size: 16px;
  }
  .home-text46 {
    font-size: 16px;
  }
  .home-text47 {
    font-size: 16px;
  }
  .home-text48 {
    font-size: 16px;
  }
  .home-item2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title3 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-item3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title4 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text49 {
    font-size: 16px;
  }
  .home-text50 {
    font-size: 16px;
  }
  .home-text51 {
    font-size: 16px;
  }
  .home-text52 {
    font-size: 16px;
  }
  .home-text53 {
    font-size: 16px;
  }
  .home-item4 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title5 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text54 {
    font-size: 16px;
  }
  .home-text55 {
    font-size: 16px;
  }
  .home-text56 {
    font-size: 16px;
  }
  .home-text57 {
    font-size: 16px;
  }
  .home-text58 {
    font-size: 16px;
  }
  .home-item5 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text59 {
    font-size: 16px;
  }
  .home-text60 {
    font-size: 16px;
  }
  .home-text61 {
    font-size: 16px;
  }
  .home-text62 {
    font-size: 16px;
  }
  .home-text63 {
    font-size: 16px;
  }
  .home-item6 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text64 {
    font-size: 16px;
  }
  .home-text65 {
    font-size: 16px;
  }
  .home-text66 {
    font-size: 16px;
  }
  .home-text67 {
    font-size: 16px;
  }
  .home-text68 {
    font-size: 16px;
  }
  .home-item7 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text69 {
    font-size: 16px;
  }
  .home-text70 {
    font-size: 16px;
  }
  .home-text71 {
    font-size: 16px;
  }
  .home-text72 {
    font-size: 16px;
  }
  .home-text73 {
    font-size: 16px;
  }
  .home-section1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-case-studies {
    gap: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-caption1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text74 {
    font-size: 12px;
  }
  .home-date-range {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text75 {
    font-size: 12px;
  }
  .home-text76 {
    font-size: 12px;
  }
  .home-text77 {
    font-size: 12px;
  }
  .home-gallery1 {
    gap: var(--dl-space-space-threeunits);
  }
  .home-row1 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-direction: column;
  }
  .home-case1 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    margin-top: 0px;
  }
  .home-image15 {
    width: 100%;
    height: 210px;
  }
  .home-heading3 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-case2 {
    gap: var(--dl-space-space-unit);
  }
  .home-image16 {
    width: 100%;
    height: 210px;
  }
  .home-heading4 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-row2 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-direction: column;
  }
  .home-case3 {
    gap: var(--dl-space-space-unit);
    width: 100%;
  }
  .home-row3 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-direction: column;
  }
  .home-case4 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    padding-top: 0px;
  }
  .home-case5 {
    gap: var(--dl-space-space-unit);
    width: 100%;
  }
  .home-book {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content2 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column-reverse;
    justify-content: center;
  }
  .home-left {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
  }
  .home-text78 {
    font-size: 32px;
    text-align: center;
    line-height: 38px;
  }
  .home-text79 {
    font-size: 16px;
  }
  .home-image17 {
    height: 220px;
  }
  .home-section2 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-about-us {
    gap: var(--dl-space-space-threeunits);
  }
  .home-header4 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-caption2 {
    font-size: 12px;
  }
  .home-description2 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-socials {
    width: 100%;
    display: flex;
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-row4 {
    gap: var(--dl-space-space-fourunits);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-row5 {
    gap: var(--dl-space-space-fourunits);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-self: flex-start;
  }
  .home-work-with-us1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text11 {
    display: none;
  }
  .home-image10 {
    width: 16px;
    height: 14px;
    display: flex;
  }
  .home-branding2 {
    max-width: 80%;
  }
  .home-work-with-us2 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image12 {
    width: auto;
    height: 220px;
  }
  .home-who {
    margin-bottom: 0px;
  }
  .home-video {
    width: 85%;
    bottom: -500px;
    z-index: 100;
    position: static;
    align-self: center;
    margin-top: -48px;
  }
  .home-image18 {
    width: 350px;
  }
  .home-image19 {
    width: 350px;
  }
}
@media(max-width: 479px) {
  .home-mobile-menu {
    padding: 16px;
  }
  .home-image14 {
    margin-left: -120px;
  }
  .home-video {
    bottom: -419px;
  }
  .home-image18 {
    width: 240px;
  }
  .home-image19 {
    top: 250px;
    width: 240px;
  }
}
